<% provide(:title, "Home") %>
<%= image_tag "book.png", class: "pull-right" %>
<h1>Welcome to TextbookChecker!</h1>
<p>Do you ever wonder how much you'll need a textbook? Do you want to know if earlier versions still work?</p>
<p>Then this is the site for you!</p>
<p>Help us build the information up to help others!</p>
<% if !student_signed_in? %>
<%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
<%= link_to :Login, login_path, class: "btn btn-success" %>
<% else %>
<p>Finished any courses? Help us out by <%= link_to "reviewing", courses_path %> your books!</p>
<% end %>