<%= bootstrap_form_for @textbook do |f| %>
  <%= render 'form', :f => f %>
  <div class="btn-group">
    <%= link_to 'Back', textbooks_path, :class => "btn btn-default" %>
    <%= f.submit class: "btn-primary" %>
  </div>
<% end %>