// Place all the styles related to the Textbooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Search View */


div#bk_div {
  div#bk_img {
    margin-right: 10px;
    a.thumbnail {
      opacity: 1;
      transition: opacity .3s;
      margin-bottom: 0px;
      -webkit-transform: translateZ(0);
    }
    a.thumbnail:hover {
      opacity: .75;
    }
  }
  div#bk_info {
    a#bk_title {
      color: black;
      font-weight: bold;
      font-size: 1.1em;
      text-decoration: underline;
      transition: color .3s;
    }

    a#bk_title:hover {
      color: #555;
    }
  }
}
